<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.webSecurity.UserRepository">

	<!-- Spring Security & JWT --> 
 	<select id="findByEmail" resultType="com.example.demo.webSecurity.User" parameterType="String">
	
 		select * from account where email=#{email};
	
	</select> 
	
	<!-- 토큰값에 맞는 유저 정보 조회 --> 
 	<select id="find" resultType="com.example.demo.webSecurity.TokenDto" parameterType="String">
	
 		select * from account where email=#{email};
	
	</select> 
	
	<!-- 회원가입 -->
	<insert id="save" parameterType="com.example.demo.webSecurity.User">
	
		insert into account(name,age,phone,loc,email,password,roles) 
		values(#{user.name},#{user.age},#{user.phone},#{user.loc},#{user.email},concat('{noop}',#{user.password}),'ROLE_USER');
	
	</insert>
	
	<!-- email 중복확인 -->
	<select id="checkEmail" resultType="boolean" parameterType="String">
	
		select * from account where email = #{email}
	
	</select>

</mapper>